<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>자바스크립트의 역사와 현재 그리고 미래 (언어 이름을 JavaScript로 변경, ECMAScript, JQuery, Babel, Node.js)</title>
</head>
<body>
<div>
	<p>메모</p>
	<p>1993 - UI 요소가 더해진 "Mosaic Web Browser" 탄생 by Marc Andreessen (엔더슨? 안데르센?) </p>
	<p>1994 - 조금 더 발전한 Netscape Navigator 브라우저 탄생 HTML, CSS로만 = 정적인 웹사이트</p>
	<p>엔더슨 -> 다이나믹한 웹사이트를 위해 새로운 언어 추가를 고려함</p>
	<p>자바는 당시 개발자들에게 무겁고 어려운 언어</p>
	<p>Scheme 스크립트의 컨셉을 유지하면서, 정말 단시간에 만들기로 결정(10일?)</p>
	<p>LiveScript 언어 탄생 -> 넷스케이프사는 Java의 인기에 편승하기 위해 언어 이름을 JavaScript로 변경</p>
	<p>브라우저 시장의 확대 -> 마이크로소프트사가 JS를 리버스 엔지니어링 -> Jscript 탄생 -> 인터넷 익스플로러</p>
	<p>XX브라우저에서 더 잘 보입니다! 라는 사태가 발생 (표준화 X)</p>
	<p>넷스케이프사, ECMA라는 단체에 표준화 제의 -> ECMAScript1 탄생 (문법적인것들으 정의한 문서)</p>
	<p>ECMAScript 버전이 올라가면서 여러 것들이 추가됨</p>
	<p>but, 2000년대 초 압도적인 시장점유율을 배경으로 마이크로소프트사의 인터넷 익스플로러는 ECMAScript 표준안에 참가하지 않음</p>
	<p>2004년, 모질라의 파이어폭스 탄생(ActionScript, Tamarin) -> 새로운 표준안 제안했지만 기존과는 너무 달랐음</p>
	<p>ECMA - 마소 - 모질라 삼파전</p>
	<p>AJAX(Asynchronous Javascript And XML) 도입</p>
	<p>but ECMAScript 표준화는 여전히 삼파전</p>
	<p>웹 개발자들의 증가 -> 커뮤니티 규모확대</p>
	<p>jQuery, dojo, mootoois 라이브러리 등장 -> 다른 브라우저에서의 구현을 신경쓰지 않도록 API를 호출하면 브라우저 상관없이 개발해줄 수 있게 </p>
	<p>2008년, 구글 크롬브라우저 출시 - JIT(Just In Time compilation)엔진 포함 : 자바스크립트 실행속도가 매우 빠름</p>
	<p>4파전으로 형성됨 -> 표준화 제안 - ECMAScript5, 6 제안됨(거의 모든 표준이 이 때 정의됨)</p>
	<p>jQuery, dojo, mootoois 라이브러리 없어도 웹개발 편하게 됨</p>
	<p>각 브라우저마다 ECMAScript 표준화를 따르는 엔진을 탑제 (크롬-V8, 파폭-SpiderMonkey, 사파리-JSCore, 엣지-Chakra(최근에는 V8로대체) ... )</p>
	<p>크롬의 V8엔진은 node.js 에서도 이용됨</p>
	<p>모든 유저가 최신버전의 브라우저 사용하는 것이 아님</p>
	<p> -> 개발때는 최신버전의 ECMAScript를 적용하고 -> 배포단계에서는 버전 변경(다운그레이드) 가능 :BABEL (JavaScript trans compiler)</p>
	<p>현재의 동향 : SPA (Single Page Application)</p>
	<p>웹을 하나의 페이지로 구현하자 - > 바닐라 JS로도 가능하지만 더 쉽게 해주기위해 React, Vue, Angular ... 등장</p>
	<p>자바스크 이용분야?</p>
	<p>자바스크는 브라우저의 동적인 요소를 추가하기 위해 만들어진 언어지미나</p>
	<p>node.js 등장으로 백엔드에서도 활용가능, React 등으로 모바일 어플리케이션에서 활용가능 ,ELCTRON이용해서 데스크탑 어플리케이션 작성가능</p>
	<p>뜨고있는 다른 기술?</p>
	<p>웹어셈블리의 등장으로 C C++ 자바 파이썬 고 .... 이용해서 웹어플리케이션 만들 수 있게 되었음.</p>
	<p>자바스크 시장성?</p>
	<p>스택오버플로우 조사 -> 최근 가장 많이 사용되어진 언어 / 사랑받는 언어 / 배워보고싶은 언어 조사에서 상위권에 랭크</p>
	<button type="button" class="navyBtn" onClick="location.href='/vjs/b02'">다음으로</button>
</div>
</body>
</html>