<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>This is test page</title>
  <script defer src="/js/jquery-3.6.0.min.js"></script>
  <script defer src="/js/index.js"></script>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body th:align="center">
<h1>바닐라 자바스크립트 기초</h1>
<table id="spreadsheet">
  <tr>
    <td></td>
    <th colspan="4">기록</th>
  </tr>
  <tr>
    <th></th>
    <td><a th:href="@{/vjs/b01}">JS간단 역사</a></td><td><a th:href="@{/vjs/b02}">HTML에 js파일 포함하는 방법들</a></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>  <tr>
  <th></th>
  <td></td><td></td><td></td><td></td>
</tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>  <tr>
  <th></th>
  <td></td><td></td><td></td><td></td>
</tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
</table>
</body>
</html>