<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>This is test page</title>
  <script defer src="/js/jquery-3.6.0.min.js"></script>

  <!--  for server -->
  <link rel="stylesheet" href="/css/index.css">
  <script defer src="/js/clock.js"></script>

  <!--  for local debug-->
  <!--  <link rel="stylesheet" href="../../static/css/index.css">-->
  <!--  <script defer src="../../static/js/clock.js"></script>-->

</head>
<body th:align="center">
<div class="container">
  <table id="spreadsheet">
    <tr>
      <td></td>
      <th colspan="4">
        <div class="neon-text">
          <div class="neon-text-box">
            <div class="neon-lightbar"></div>
            <div class="neon-topLayer"></div>
            <h1 style="color: white">바닐라 자바스크립트 기초</h1>
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th></th>
      <td>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>js간단 역사</h2>
            <p>1 / 23</p>
            <a th:href="@{/vjs/b01}">read more</a>
          </div>
        </div>
      </td>
      <td>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>HTML에<br> js파일포함하는 방법들</h2>
            <p>2 / 23</p>
            <a th:href="@{/vjs/b02}">read more</a>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>js의 데이터 타입</h2>
            <p>3 / 23</p>
            <a th:href="@{/vjs/b03}">read more</a>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <div class="box">
        <span></span>
        <div class="content">
          <h2>연산 operator</h2>
          <p>4 / 23</p>
          <a th:href="@{/vjs/b04}">read more</a>
        </div>
      </div></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>함수의 선언과 표현</h2>
            <p>5 / 23</p>
            <a th:href="@{/vjs/b05}">read more</a>
          </div>
        </div>
      </td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>객체지향 언어 클래스 정리</h2>
            <p>6 / 23</p>
            <a th:href="@{/vjs/b06}">read more</a>
          </div>
        </div>
      </td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>자바스크립트 오브젝트 정리</h2>
            <p>7 / 23</p>
            <a th:href="@{/vjs/b07}">read more</a>
          </div>
        </div>
      </td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>자바스크립트 배열 정리</h2>
            <p>8 / 23</p>
            <a th:href="@{/vjs/b08}">read more</a>
          </div>
        </div>
      </td>
      <td>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>자바스크립트 배열 정리</h2>
            <p>9 / 23</p>
            <a th:href="@{/vjs/b09}">read more</a>
          </div>
        </div>
      </td><td></td><td></td>
    </tr>  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>  <tr>
    <th></th>
    <td></td><td></td><td></td><td></td>
  </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
      <th></th>
      <td></td><td></td><td></td><td></td>
    </tr>
  </table>
</div>
<section>
  <div class="clock">
    <div class="container">
      <h2 id="hour">00</h2>
      <h2 class="dot">:</h2>
      <h2 id="minute">00</h2>
      <h2 class="dot">:</h2>
      <h2 id="second">00</h2>
      <span id="ampm">AM</span>
    </div>
  </div>
</section>
</body>

</html>